---
import Logo from "./Logo.astro"
---

<div class="sidebar">
    <div class="upper-sidebar">
        <div class="sidebar-logo">
            <Logo />
        </div>
        <div class="sidebar-links">
            <button class="itim">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="000000"><path d="M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z"/></svg>
                Home              
            </button>
            <button class="itim">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#646464"><path d="M234-276q51-39 114-61.5T480-360q69 0 132 22.5T726-276q35-41 54.5-93T800-480q0-133-93.5-226.5T480-800q-133 0-226.5 93.5T160-480q0 59 19.5 111t54.5 93Zm246-164q-59 0-99.5-40.5T340-580q0-59 40.5-99.5T480-720q59 0 99.5 40.5T620-580q0 59-40.5 99.5T480-440Zm0 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q53 0 100-15.5t86-44.5q-39-29-86-44.5T480-280q-53 0-100 15.5T294-220q39 29 86 44.5T480-160Zm0-360q26 0 43-17t17-43q0-26-17-43t-43-17q-26 0-43 17t-17 43q0 26 17 43t43 17Zm0-60Zm0 360Z"/></svg>
                Account
            </button>
        </div>
    </div>
    <div class="lower-sidebar">
        <button class="itim">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#ff0000"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z"/></svg>
            Logout
        </button>
    </div>
</div>

<style>
    .sidebar {
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: space-between;
        padding: 1rem;
        border: 1px solid #DEEDE8;
        width: fit-content;
        background-color: white;
    }

    .upper-sidebar {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .sidebar-links {
        display: flex;
        flex-direction: column;
        gap: .25rem;
    }

    button {
        border: none;
        border-radius: 8px;
        width: 100%;
        background-color: white;
        text-align: start;
        display: flex;
        align-items: center;
        gap: 1rem;
        color: #193c4d;
        font-size: 1rem;
        padding: .75rem 1rem;
        transition: .15s ease-in-out;
        svg {
            fill: #193c4d;
        }
        &:hover {
            background-color: #E8F7F2;
            color: #1F5F54;
            svg {
                fill: #1F5F54;
            }
        }
    }

    .lower-sidebar button {
        color: red;
        transition: .15s ease-in-out;
        svg {
            fill: red;
        }
        &:hover {
            background-color: #f6dbdb;
        }
    }

</style>