<div class="home">
    <div class="title">
        <h1 class="calistoga">relappxation</h1>
        <h2>TAKE A MOMENT TO CREATE YOUR OWN SPACE</h2>
    </div>
    <div class="btns">
        <button id="start-btn" class="btn-login itim">Start relaxing</button>
        <a href="#about-us">About this Page</a>
    </div>
</div>

<script>
    
</script>

<style>
    .home {
        height: 100vh;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem; /* 5.625rem */
        max-width: 1024px;
    }

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        text-align: center;
    }
 
    .title h1 {
        font-size: 3rem;
        color: rgb(0, 202, 202);
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
    }

    .title h2 {
        font-size: 1.25rem;
        flex-wrap: wrap;
        color: white;
    }

    .btns {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 70%;
    }

    .btn-login {
        font-size: 1rem;
        border: 0;
        border-radius: 20px;
        padding: 1.5rem 0;
        width: 100%;
        max-width: 300px;
    }

    .btns a {
        text-align: center;
        font-size: .85rem;
        text-decoration: none;
        color: white
    }

    @media screen and (min-width: 1024px) {
        .home {
            gap: 5.625rem;
        }
        .title{
            gap: 1.5rem;
        }
        .title h1 {
            font-size: 6rem;
        }
        .title h2 {
            font-size: 3rem;
        }
        .btn-login {
            padding: 2.25rem 0;
            font-size: 2rem;
            min-width: 300px;
        }
        .btns a {
            font-size: 1.5rem;
        }
    }
</style>