---
import Landing from '../components/landing_page/Landing.astro';
import About from '../components/landing_page/About.astro'
import Layout from '../layouts/Layout.astro';
import bigBackground from '/big_landing_background.mp4'

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<video autoplay muted loop id="landing-background">
		<source src={bigBackground}>
	</video>
	<div class="landing itim">
		<Landing />
		<About />
	</div>
</Layout>

<style>
	#landing-background {
		position: fixed;
		height: 100%;
		top: 0;
		left: auto;
		z-index: -1;
	}
	.landing {
		padding: 0 2rem;
		margin: 0 auto;
		z-index: 10;
		color: white;
		-webkit-text-stroke: black .1px;
		background-color: rgba(0, 0, 0, 0.5);
	}

	@media screen and (min-width: 768px) {
		#landing-background {
			height: 100%;
			width: auto;
		}
	}
</style>