---
import AccountLayout from "../layouts/AccountLayout.astro"
---
<AccountLayout>
    <div class="account">
        <div class="my-account">My account Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quam a sit ipsa veritatis! Minima voluptas natus architecto, beatae molestias omnis rerum alias reprehenderit asperiores, facilis, autem dicta nesciunt labore doloremque debitis harum ipsum laudantium. Dicta sint quibusdam eligendi atque eum aspernatur, consequuntur error quos adipisci itaque temporibus porro? Sint!</div>
    </div>
</AccountLayout>

<style>
    .account {
        padding: 1rem 2rem;
    }
</style>