---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";
import Register from "../components/Register.astro";
---

<Layout>
    <div class="signup">
        <div class="logo">
            <Logo />
            <p class="inter">Create your own personal relaxation space</p>
        </div>
        <Register register = "Sign Up" />
    </div>
</Layout>

<style>
    .signup {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-color: #E8F7F2;
        padding: 1rem;
        gap: 2rem;
    }
    .logo {
        text-align: center;
        max-width: 90%;
        margin: 0 auto;
    }

    .logo p {
        text-align: center;
    }
</style>